.chat-bubble-container {
  display: flex;
  margin: 10px 0;
}

.chat-bubble-container.user {
  justify-content: flex-end;
}

.chat-bubble-container.other {
  justify-content: flex-start;
}

.chat-bubble {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 20px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  word-break: break-word;
}

.chat-bubble_user {
  background-color: #cdeff7; /* 사용자 말풍선 파란빛 */
  color: #000;
}
